@use '../../styles/scss/typography.scss';
@use '../../styles/scss/paddings.scss';
@use '../../styles/scss/margins.scss';
@use '../../styles/scss/colors.scss';
@use '../../styles/scss/elevations.scss';

@use '../../styles/scss/mixins.scss';
@use '../../styles/scss/variables.module.scss';

.#{variables.$prefix}-button {
  border: 0.1875rem solid colors.$accent;
  padding: paddings.$xs paddings.$sm;
  margin: margins.$xs margins.$sm margins.$sm 0;
  @include elevations.level-1();

  @include typography.text-regular();
  @include mixins.rounded-border();
  @include mixins.focus-visible-outline();

  &.primary {
    background-color: colors.$accent;
    color: colors.$tile-text;
    &:hover {
      border-color: colors.$accent--hover;
      background-color: colors.$accent--hover;
      @include elevations.level-2();
    }
  }

  &.secondary {
    background-color: transparent;
    color: colors.$accent;
    &:hover {
      border-color: colors.$accent--hover;
      color: colors.$accent--hover;
      @include elevations.level-2();
    }
  }
}
